:root {
    --bg-button: rgb(255, 255, 255);
    --border-color: black;
    --primary-color: black;
    --primary-bg-color: #fff;
    --second-bg-color: #04b684;
    --bg-statistic: #fff;
    --bg-list: #f3f4f6;
    --primary-border-color: #0cdc77;
    --curr-word: #e2e8f0;
    --timer: #04b684;
    --second-bg: #e5e7eb;
    --reverse-bg: #fff;
    --hover-key: #f1f5f9;
}

.dark {
    --bg-button: rgb(63, 63, 63);
    --border-color: #fff;
    --primary-color: #fff;
    --primary-bg-color: rgba(34, 34, 34, 0.892);
    --second-bg-color: rgb(28, 28, 28);
    --bg-list: #313131;
    --bg-statistic: rgb(28, 28, 28);
    --primary-border-color: #fff;
    --curr-word: #0f172a;
    --timer: #fff;
    --second-bg: transparent;
    --reverse-bg: black;
    --hover-key: rgb(51, 51, 51);
    .dark-svg {
        display: block;
    }
    .btn-reload {
        background-color: transparent;
        border: 1px solid var(--primary-border-color);
    }
    .light-svg {
        display: none;
    }
    .btn-switch {
        margin-left: 37px;
    }
    .input-write:focus {
        border-color: #fff;
    }
    .loader {
        border: 10px solid #a3a3a3;
        border-bottom-color: transparent;
    }
    .btn-active {
        background-color: #3d3d3d;
    }
}

body {
    margin: 0;
    background-color: var(--primary-bg-color);
    font-family: 'Segoe UI';
    transition: all 0.25s;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

header {
    padding: 8px 0;
    margin-bottom: 30px;
    background-color: var(--primary-bg-color);
    border-bottom: 2px solid var(--second-bg);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-logo {
    font-size: 30px;
    font-weight: 600;
    background-image: linear-gradient(to right, #0a95b8, #0cdc77);
    background-clip: text;
    color: transparent;
}

.header__buttons {
    display: flex;
    gap: 30px;
    align-items: center;
}

.input-color {
    width: 95px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

/* main */

.main__container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.field--wrapper {
    border-width: 4px;
    border-color: var(--primary-border-color);
    border-style: solid;
    border-radius: 0.375rem;
    font-size: 26px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-bottom: 1.25rem;
    line-height: 58px;
    height: 150px;
    overflow: hidden;
    width: 100%;
    user-select: none;
    color: var(--primary-color);
}

.write-section {
    display: flex;
    gap: 20px;
    align-items: center;
}

.input-write {
    border-width: 2px;
    border-color: var(--primary-border-color);
    border-style: solid;
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 0.375rem;
    outline: none;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input-write:focus {
    border-color: #00b15c;
}

.time {
    font-size: 18px;
    color: var(--timer);
    background-color: var(--second-bg);
    padding: 8px 0;
    text-align: center;
    width: 80px;
    border-radius: 8px;
    font-weight: 500;
    border-color: #e5e7eb;
    border-width: 1px;
    border-style: solid;
}

.timer-bar {
    width: 100%;
    height: 20px;
    border-radius: 1rem;
    background-color: transparent;
    margin-top: 1.25rem;
    border-width: 1px;
    border-color: #94a3b8;
    border-style: solid;
    overflow: hidden;
}

.timer-bar__content {
    background: linear-gradient(to right, #0a95b8, #0cdc77);
    height: 100%;
    transition: all 1s linear;
    width: 100%;
}

.keyboard {
    display: grid;
    width: 812px;
    grid-template-columns: repeat(30, 21px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: fit-content;
    background-color: #e5e7eb;
    padding: 4px;
    gap: 6px;
}

.keyButton {
    background-color: var(--reverse-bg);
    color: var(--primary-color);
    font-weight: 600;
    font-size: 16px;
    height: 48px;
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.keyButton:hover {
    background-color: var(--hover-key);
}

.word {
    display: inline-block;
    padding: 0 8px;
    line-height: 58px;
}

.word-current {
    background-color: var(--curr-word);
    border-radius: 20px;
}

.word--incorrect {
    color: red;
}
.word--correct {
    color: green;
}

.statistic {
    position: absolute;
    top: 0;
    transform: translateX(-110%);
    border-width: 2px;
    border-color: #d1d5db;
    border-style: solid;
    border-radius: 1rem;
    overflow: hidden;
    background-color: var(--bg-statistic);
}

.statistic__box {
    background-color: var(--second-bg-color);
    text-align: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.statistic__title {
    color: white;
    font-size: 40px;
    font-weight: bold;
}
.statistic__subtitle {
    color: white;
    font-size: 16px;
}

.statistic-list {
    min-width: 300px;
}
.statistic-list__item {
    color: var(--primary-color);
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 12px;
    background-color: var(--bg-list);
    border-bottom: 1px solid #d7d7d7;
}
.statistic__accuracy {
    font-weight: 700;
}

.statistic__correct {
    color: #16a34a;
}
.statistic__wrong {
    color: #dc2626;
}

.statistic__clicks {
    display: flex;
    align-items: center;
    gap: 5px;
}

#correct-clicks {
    color: #16a34a;
    font-size: 14px;
}

#incorrect-clicks {
    color: #dc2626;
    font-size: 14px;
}

#total-clicks {
    margin-left: 7px;
    color: var(--primary-color);
}

.statistic h3 {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    padding-top: 12px;
}

.statistic__record {
    color: var(--primary-color);
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 12px;
}

.loader {
    width: 100px;
    height: 100px;
    margin: 0 auto 50px;
    border: 10px solid #494949;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes pulseK {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.05);
        opacity: 0.9;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
